%header(role="banner")
  %nav.navbar.navbar-default.navbar-custom(role="navigation")
    .container
      .navbar-header
        %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar

        = link_to 'School Admin', root_path, class: 'navbar-brand'
      .navbar-collapse.collapse
        %ul.nav.navbar-nav
          %li.active
            = link_to 'Home', root_path
          %li
            = link_to 'Setup', setup_path
          %li
            %a(href="#")
